# LangChain
langchain
langchain-core
langchain-community
langchain-experimental
langchain-chroma

# Groq Integration
langchain-groq

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Environment Variable Management
python-dotenv

#python
pypdf
python-multipart

# Vector Database
chromadb

#Deployment
streamlit